@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme("colors.primary.900");
    border-right-color: theme("colors.primary.200");
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid theme("colors.primary.200");
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

/* For data picker */

.rdp-day_selected,
.rdp-day_selected:hover {
  background-color: #808080 !important; /* Gray color for selected day */
  color: #fff !important; /* White text for selected day */
}

.rdp-day_disabled {
  background-color: #ccc !important; /* Light gray for disabled days */
  color: #888 !important; /* Darker gray text for disabled days */
  opacity: 0.6 !important;
}

.rdp {
  --rdp-cell-size: 32px !important;
  --rdp-accent-color: #808080 !important; /* Override accent color */
  --rdp-background-color: #ccc !important; /* Override background color */
  margin: 0 !important;
}
